# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/
cmake-build-*/

# Cache/IDE folders
.cache/
.vscode/
.idea/
.vs/

#SFML
obj/
Library/
examples/*/*.dll
examples/*/*.xml
*.exe
*.manifest
*.pdb
*.suo
*.csproj.user
*.VC.db


# End of https://www.toptal.com/developers/gitignore/api/c++